---
layout: post-index
info: person-background.md
---

<article>
    <!-- POST TITLE -->
    <header>
        <h1 class="entry-title">
            <h1>Chester Hongyu Yang</h1>
        </h1>
    </header>
</article>



<article>
    <!-- POST TITLE -->
    <header>
        <h1 class="entry-title">
            Education
        </h1>
    </header>
    
    <!-- POST CONTENT -->
    <div class="entry-content">
        {% include {{page.info}} %}
    </div>
    
    <!--- DIVIDING LINE -->
    <hr>
    

    
</article>


<!-- <div class="pagination">
    <center>
        {% include person-background.md %}
    </center>
</div> -->