---
layout: post-index
info: person-background.md
---

<article>
    <!-- POST TITLE -->
    <header>
        <div style="text-align: center">
            <img src="/images/personal/chester.JPG" class="img-circle" style="margin-left:auto;margin-right:auto;border-radius: 50%; display:inline-block;" width="150" height="150/">
        </div>
        <h1 class="entry-title" align="center">
            Hongyu(Chester) Yang
        </h1>
    </header>

    <div class="entry-content">
        <p>
            Hi, I am Chester, a solid Software Engineer with strong internship and projects experience. My Strengths include outstanding programming capability and systematic software skills in Front End, Back End, Databases, and Cloud Services.  
        </p>
        <p>
            In terms of my previous major projects and internship, I built user interfaces with basic HTML5, CSS, JavaScript. I also used popular frameworks like Angular and ReactJS. 

            For server part, I applied Python Flask and Apache Tomcat + Java Servlet as web servers which were deployed in EC2 instances or Elastic Beanstalk. 

            For databases, I played with relational database: MySQL, NoSQL databases: DynamoDB/BigTable, data search service Elastic Search. In order to do easy data analysis, Google Dataflow was used to dump data from BigTable to BigQuery. 

            In order to get good product recommendation for users, I implemented a MapReduce algorithm to calculate the similarity between users in MapReduce at MongoDB. 

            I wrote unit test cases for my code and used postman and Jmeter to test. I also analyzed running log with the help of Logstash and CloudWatch. 

            I wrote RESTful APIs on swagger.io or directly designed on API Gateway to standardize the interface of project. Some of task functions were implemented in serverless service Lambda function and can easily be applied by any API Gateway deployment.
        </p>


    </div>
</article>



<!-- <article>
    <div class="entry-content">
        <div>
            <a>370 west 52nd st. 2A</a><br>
            <a>New York, NY 10019</a><br>
            <a>(917) 678-7939</a><br>
            <a href = "mailto: chester.h.yang@gmail.com">chester.h.yang@gmail.com</a>
        </div>
        <p>Dear Hiring Manager,</p>
        <p>
        I’m Chester, a Computer Engineering master student in Columbia University, expected to graduate in December 2017, with a strong programming capability, and systematic software skills in Front-Back-End, Databases and Cloud Services, currently seeking a full time Software Engineer position. 
        </p>
        <p>
        My background includes electrical engineering research of impedance modeling for renewable energy generator, during which I led research projects with State Grid Corporation of China, published academic papers and attended conferences. Furthermore, I programmed this model testing process with a result of 10% of previous testing iteration. This experience led me to be fascinated in computer science and master my skill set in computer engineering here at Columbia University. 
        </p>
        <p>
        While taking classes here on campus, I also completed 2 online courses each semester that required a 5-day commitment each week (12 hours at least). I studied Computer Networks, Databases, Java Programming, Data Structure, Algorithms, Cloud Computing, Operating Systems, Object Oriented Design, Web Development and Microservices. 
        </p>
        <p>
        In terms of my major projects and internship, I built user interfaces with HTML5, CSS, JavaScript, Bootstrap, and AngularJS 2, and served them in either project content file or S3 bucket. I used Python Flask, Apache Tomcat + Java Servlet as web servers which were deployed in EC2 instances or Elastic Beanstalk. For databases, I played with relational database: MySQL, nosql databases: DynamoDB, data search service Elastic Search, and even google’s BigTable & BigQuery. I wrote unit test cases for my code and used postman & Jmeter to test. I also analyzed running log with the help of Logstash and CloudWatch. I also wrote RESTful APIs on swagger.io or directly designed on API Gateway to standardize the interface of project. Some of task functions were implemented in serverless service Lambda function and can easily be applied by any API Gateway deployment.
        </p>
        <p>
        I am dedicated as a Software Engineer and believe my leadership, strategic problem solving character will contribute innovative idea to your solution based company. Contact me with any questions or interest in my background and skill set. 
        </p>
        <p>
        Sincerely,
        </p>
        <p>
        Chester Hongyu Yang
        </p>
    </div>

    <hr>

</article> -->

<!-- <style>
.tech-skill {

    height:500px;
}
.tech-half {
    width: 50%;
    display: inline-block;

    float: left;

}
#cs {

}
#pl {
    
    left:50%;
}
#tools {
    clear:left;
}

</style> -->

<!-- <article>
    <h1 class="entry-title">
        <a>Technical Skills</a>
    </h1>
    <div class="tech-skill">
        <div id="cs" class="tech-half">
            <ul>Courses/Skills
                <li>Algorithm</li>
                <li>Data Structure</li>
                <li>Object Oriented Design</li>
                <li>Databases</li>
                <li>Operating System</li>
                <li>Computer Networks</li>
                <li>Web Development</li>
                <li>Cloud Computing and Big Data</li>
                <li>MicroServices</li>
                <li>Java Programming</li>
            </ul>
        </div>
        <div id="pl" class="tech-half">
            <ul>Programming Languages
                <li><strong>Java</strong></li>
                <li>Python</li>
                <li>C</li>
                <li>Go</li>
                <li>Shell</li>
                <li>HTML/CSS/JavaScript</li>
                <li>JSON</li>
            </ul>
        </div>
        <div id="tools">
            <ul>Tools
                <li><strong>AWS</strong>(EC2, API Gateway, DynamoDB, Lambda, ElasticSearch, SNS, SQS, Elastic Beanstalk, S3 …)</li>
                <li>Google Cloud Platform(GAE, BigTable, BigQuery, Dataflow...)</li>
                <li>MySQL</li>
                <li>Angular</li>
                <li>React</li>
                <li>Swagger</li>
                <li>Apache Tomcat</li>
                <li>MAMP</li>
                <li>Postman</li>
                <li>Flask</li>
            </ul>
        </div>
    </div>

</article>

 -->


<article>
    <h1 class="entry-title">
        <a>Projects</a>
    </h1>
{% for post in site.posts %}
        <ul>
        <li class="entry-title"><a href="{{ site.url }}{{ post.url }}" title="{{ post.title }}">{{ post.title }}</a></li>
        </ul>
{% endfor %}
</article>


{% for post in site.posts %}

<article>
    <!-- POST TITLE -->
    <header>
        <h1 class="entry-title">
            <a href="{{ site.url }}{{ post.url }}" rel="bookmark" title="{{ post.title }}" itemprop="url">{{ post.title }}</a>
        </h1>
    </header>
    
    <!-- POST CONTENT -->
    <div class="entry-content">
        {{ post.content }}
    </div>
    
    <!--- DIVIDING LINE -->
    <hr>
    
    <!-- POST TAGS -->
<!--     <div class="inline-tags">
        <span>
        {% for tag in post.tags %}
            <a href="/tags/#{{tag}}">#{{ tag }}&nbsp;&nbsp;&nbsp;</a>
        {% endfor %}
        </span>
    </div>
    
    <br> -->
    
    <!-- POST DATE -->
<!--     <div class="post-date">
        <span class="entry-date date published updated">
            <time datetime="{{ post.date | date_to_xmlschema }}">
                <a href="{{ site.url }}{{ post.url }}">{{ post.date | date: "%B %d, %Y" }}</a>
            </time>
        </span>
    </div> -->
    
</article>
{% endfor %}